p {
  position: relative !important;
}

p:hover::before {
  content: "M";
  position: absolute;
  width: 10px;
  height: 10px;
  color: deepskyblue;
  left: 0;
  top: 0;
  transform: translateX(calc(-100% - 10px));
}

.completed {
  color: #006600 !important;
}

.selected {
  color: #000066 !important;
}
